exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("stats", "as.formula", "fft", "model.matrix", "ts", "HoltWinters")
useDynLib(TSrepr, .registration = TRUE)

export(clipping)
export(fftinv)
export(l1Coef)
export(lmCoef)
export(mae)
export(mape)
export(mase)
export(maxC)
export(mdae)
export(meanC)
export(medianC)
export(minC)
export(movave)
export(norm_min_max)
export(norm_min_max_list)
export(norm_z)
export(norm_z_list)
export(repr_dft)
export(repr_dwt)
export(repr_exp)
export(repr_feaclip)
export(repr_feacliptrend)
export(repr_featrend)
export(repr_gam)
export(repr_lm)
export(repr_matrix)
export(repr_paa)
export(repr_seas_profile)
export(rleC)
export(rlmCoef)
export(rmse)
export(smape)
export(sumC)
export(trending)
